.page_header
  padding-top: 10px
  margin-bottom: 0
  background-color: #4095b7
  h1, h2, h3
    font-size: 24px
    margin: 0
    color: #fff
    a, a:hover
      color: #fff
  h2
    font-size: 18px
    font-weight: 200
    margin-top: 5px
  label
    font-size: 13px    
    font-weight: 400
    color: #fff
    vertical-align: bottom
    margin-bottom: 0px
    display: inline-block

  .logo
    padding: 0px 10px 0 0

  .header_interface
    background-color: darken(#4095b7, 5)
    padding: 6px 0 0
    margin-top: 15px

  .search_link
    margin-left: 0
    color: #ccc
    font-size: 90%
  .btn-group
    margin-bottom: 5px
    button
      color: #999
      &.active
        color: inherit
        font-weight: bold