@import constants
@import bootstrap
@import github_markdown
@import github_code
@import page_header
@import page_footer
@import report

h5
  border-bottom: 1px solid lighten($AAC_BLUE, 10)
  padding-bottom: 2px
  color: #444

.sidebar
  background: #eee
  box-shadow: -2px 2px 2px #ddd inset
  border-radius: 0px 3px 0px 0px
  border-bottom: 1px solid #ddd
  padding-bottom: 20px

  h5
    margin-right: -15px

  dl
    margin-top: 10px

.sidebar_item
  font-size: 90%
  font-size: 90%
  padding: 4px 13px
  border-radius: 3px 0 0 3px
  cursor: pointer
  color: #777
  &.selected
    background-color: #fff
    margin-right: -15px     
    box-shadow: -2px 2px 2px #ddd
    color: #000


.illustration img
  margin-bottom: 10px

.illustration_wrapper
  border-radius: 3px
  border: 1px solid #ddd
  background: rgba(255,255,255,1)
  margin-bottom: 10px
// ------
.app
  padding-top: 0px

  h1, h2, h3, h4
    border-bottom: 2px solid lighten($AAC_BLUE, 10)
    padding: 3px 0px 5px
    color: darken($AAC_BLUE, 30)
    // box-shadow: 0px 4px 3px -2px #ddd
    margin-bottom: 10px
    margin-top: 0
    background: #fff
  h2
    font-size: 24px
  h4
    font-weight: 400

  .main_desc
    font-size: 120%
    padding: 5px 20px

  section
    margin-bottom: 50px
    padding-bottom: 10px
    background: #fafafa
    page-break-inside: avoid
    border-radius: 0px 0px 3px 3px

    &:first-child
      background-color: inherit
    .panel-footer
      background: #fff

// ------

.search_link
  margin-left: -27px
  font-size: 80%

.field_name
  margin-bottom: 20px
  .badge
    font-size: 40%
    margin-left: 5px

.reference pre
  border: none
  background-color: inherit

// -------

.markdown-body
  margin: 20px 0px


.no_results
  text-align: center
  font-style: italic
  color: #888

.github_issue_link
  text-align: center
  font-size: 80%
  margin-top: 2px

.entity_uri_label
  color: #000
  font-weight: bold
