@import bootstrap

.main_nav
  margin-bottom: 0
  background-color: #962b2b
  .navbar-brand
    color: #fff
    &:hover
      color: #fff

.sidebar
  background: #eee
  box-shadow: -2px 2px 2px #ddd inset

.row 
  overflow: hidden

[class^="col-"]:not([class*="-12"])
  margin-bottom: -99999px
  padding-bottom: 99999px

.sidebar_item
  font-size: 90%
  font-size: 90%
  padding: 4px 13px
  border-radius: 5px 0 0 5px
  cursor: pointer
  &.selected
    background-color: #fff
    margin-right: -15px     
    box-shadow: -2px 2px 2px #ddd



// ------
.app
  padding-top: 30px

  h1, h2, h3, h4
    border-bottom: 2px solid #962b2b
    padding: 3px 0px 5px
    color: #691010
    box-shadow: 0px 4px 3px -2px #ddd
    margin-bottom: 30px
    margin-top: 0
    background: #fff


  section
    margin-bottom: 50px
    padding-bottom: 10px
    &:nth-child(2)
      background: #eee

// ------

.field_name
  margin-bottom: 20px
  .badge
    font-size: 40%
    margin-left: 5px

.reference pre
  border: none
  background-color: inherit

