<header class="container-fluid page_header fake-header hidden-print"><div class="row"><div class="col-sm-12"><div class="pull-left logo"><a href="/"><img src="/images/aac_logo.png"></a></div><h1>AAC Mapping Validator</h1><h2>
=@metadata["title"]
</h2></div></div></header>

.container-fluid

  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .markdown-body
        = @markdown.render(@contents)
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %a.btn.btn-primary{href: "https://github.com/workergnome/aac_mappings/edit/master/data/cookbook/#{@path}.md"}
        Edit this page